body {
  background: #fafafa;
  color: #404969;
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  margin-bottom: 0;
}

li {
  line-height: 23px;
  list-style: none;
}

ul {
  margin: 0 auto;
  padding: 0;
}

h1,
.currentTime {
  position: relative;
  left: 5%;
}

.currentTemperature,
.weatherDescription {
  position: relative;
  left: 10%;
}

.currentTemperature {
  font-size: 50px;
  margin-bottom: 0;
  top: 15%;
}

.currentWeatherIcon {
  left: 20%;
  position: relative;
}

.searchBar {
  margin: 5%;
  width: 97%;
}

.searchButton,
.currentLocationButton {
  border-radius: 50%;
}

.searchButton {
  position: relative;
  left: -26%;
}

#search-form {
  position: relative;
  left: 50%;
}

.units {
  left: -38%;
  position: relative;
  top: 24%;
}

.units .active {
  color: #404969;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.weatherContainer {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 1px solid #404969;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
}

.weatherContainer-wrapper {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
}

.weatherDescription {
  text-transform: capitalize;
  top: 10%;
  width: 120px;
}

.weatherDetails {
  left: 11%;
  position: relative;
  top: 23%;
}

.forecast-date,
.forecast-temp-max,
.forecast-temp-min {
  font-size: 12px;
}

.day {
  font-size: 14px;
}

.forecast-temp-max {
  font-weight: bold;
}

.futureforecast-icons {
  font-size: 30px;
  margin-bottom: -16%;
  text-align: center;
}

.future-forecast {
  display: flex;
  margin-top: 4%;
  text-align: center;
}

.future-card {
  margin-right: 5px;
  width: 20%;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.future-card:hover {
  transform: scale(1.1);
}

.forecast-temperature-row {
  text-align: center;
}

.forecast-temperatures {
  padding: 3px;
}
