body {
  background: #fafafa;
  color: #2f0f5d;
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: 700;
  margin-bottom: 0;
}

li {
  line-height: 23px;
  list-style: none;
}

ul {
  margin: 0 auto;
  padding: 0;
}

h1,
.currentTime {
  position: relative;
  left: 5%;
}

.card {
  background: border-box;
  border: 1px solid #c9bbcf;
}

.currentTemperature,
.weatherDescription {
  position: relative;
  left: 10%;
}

.currentTemperature {
  font-size: 50px;
  margin-bottom: 0;
  top: 15%;
}

.currentWeatherIcon {
  left: 20%;
  position: relative;
}

.day {
  font-size: 14px;
}

.forecast-date,
.forecast-temp-max,
.forecast-temp-min {
  font-size: 12px;
}

.forecast-date {
  margin-bottom: 0;
}

.forecast-temp-max,
.forecast-temp-min {
  font-size: 14px;
  color: #624f82;
}

.forecast-temp-max {
  font-weight: bold;
}

.forecast-temperatures {
  padding: 3px;
}

.forecast-temperature-row {
  text-align: center;
}

.future-card {
  width: 20%;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.future-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.future-forecast {
  margin: 0 auto;
  text-align: center;
  width: 98%;
}

.futureforecast-icons {
  font-size: 30px;
  margin-bottom: -16%;
  text-align: center;
}

.searchBar {
  margin: 5%;
  width: 97%;
}

.searchButton,
.currentLocationButton {
  border-radius: 50%;
}

.searchButton {
  position: relative;
  left: -26%;
}

#search-form {
  position: relative;
  left: 50%;
}

.unit {
  font-size: 26px;
  left: -38%;
  position: relative;
  top: 19%;
}

.weatherContainer {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 680px;
  padding: 20px 35px 35px;
}

.weatherContainer-wrapper {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 680px;
  padding: 20px;
}

.weatherDescription {
  text-transform: capitalize;
  top: 10%;
  width: 120px;
}

.weatherDetails {
  left: 11%;
  position: relative;
  top: 23%;
}
